:root {
    --pblack: #0b0c10;
    --pdark: #1f2833;
    --plight: #c5c6c7;
    --pcyan: #66fcf1;
    --pblue: #45a29e;
}

html,
body,
p {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.text {
    color: white;
}

/* Columns and rows */
.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

/* Buttons */
.ft-button {
    border-radius: .5em;
    font-size: 1.3em;
    padding: 0.5em 1em;
    border: none;
}

.ft-button:active {
    transform: translateY(4px);
    box-shadow: none;
}

.ft-button:hover {
    cursor: pointer
}

.fade-text {
    background: linear-gradient(var(--pcyan) 40%, var(--pblue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}