:root {
	font-size: 16px;
	--pblack: #0b0c10;
	--pdark: #1f2833;
	--plight: #c5c6c7;
	--pcyan: #66fcf1;
	--pblue: #45a29e;
}

html,
body,
p {
	margin: 0;
	padding: 0;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif; /* mettre une autre font custom */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.view {
	margin-left: 7rem;
}

input {
	border: none;
}

input:focus {
	outline: none;
}

.text {
	color: white;
}

/* Columns and rows */
.col {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

/* Buttons */
.ft-button {
	border-radius: .4em;
	font-size: 1.25em;
	padding: 0.5em 1em;
	border: none;
	text-transform: uppercase;
}

.ft-button:active {
	transform: translateY(4px);
	box-shadow: none;
}

.ft-button:hover {
	cursor: pointer
}

.green-button {
	background: lime;
	box-shadow: 0 4px 0 green; 
}

.fade-text {
	background: linear-gradient(var(--pcyan) 40%, var(--pblue));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
	width: .3em;
}

