.switch-choice-container
{
  scale: 0.5;
}
.switch-choice {
  position: relative;
  display: inline-block;
  width: 6em;
  height: 3.4em;
}

.switch-choice .input-switch {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff0900b0;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.6em;
  width: 2.6em;
  left: 0.4em;
  bottom: 0.4em;
  background-color: white;
  transition: .4s;
}

.input-switch:checked + .slider {
  background-color: #09ff00b0;
}

.input-switch:focus + .slider {
  box-shadow: 0 0 0 .4em rgba(21, 156, 228, 0.7);
  outline: none;
}

.input-switch:checked + .slider:before {
  transform: translateX(2.6em);
}

.slider.round-slider {
  border-radius: 3.4em;
}

.slider.round-slider:before {
  border-radius: 50%;
}